@charset "utf-8";

.business {
  margin-top: 100px;
}
.business_inner {
 width: 100%;
}

.business_txt {
  text-align: center;
  line-height: 2;
  margin-bottom: 150px;
}

.business_txt h1 {
  font-size: 50px;
  font-family: serif;
  margin-bottom: 50px;
}

.business_txt h2 {
  font-size: 25px;
  margin-bottom: 50px;
}

.business_txt1 {
  color: #0b8600;
  font-weight: bold;
  margin-bottom: 50px;
}

.business_txt2 {
  font-weight: bold;
  margin-bottom: 100px;
}

.business_btn {
  background: #0b8600;
  padding: 20px 40px;
  color: #fff;
  letter-spacing: 8px;
  margin: 0 auto;
}

.business_btn:hover {
  opacity: 0.7;
}

.business_img {
  position: relative;
  bottom: -10px;
}

.business_img img{
  width: 100%;
  height: 800px;

}

.letter_heading {
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
  opacity: 0.8;
  padding: 20px 30px;
  z-index:3 ;
  position: absolute;
  top: 2%;
  left: 33%;
}

.letter_heading h1 {
  font-size: 40px;
  font-family: serif;
}

.letter_heading h2{
  color: #0b8600;
}

.letter_item2 {
  font-weight: bold;
}

.letter_item span {
  color: #000;
  font-weight: bold;
}

.letter_item2 span { 
  color: #0b8600;
  font-weight: bold;
}


.letter_list {
  position: relative;
}

.letter_item {
  text-align: left;
  background-color: rgba(11, 134, 0, 0.8);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
  color: #fff;
  width: 400px;
  padding: 30px;
  position: absolute;
  top: -580px;
  left: 27%;
  z-index: 2;
  font-size: 16px;
}

.letter_item2 {
  text-align: left;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
  opacity: 0.8;
  width: 400px;
  padding: 30px;
  position: absolute;
  top: -330px;
  left: 50%;
  z-index: 3 ;
}

.letter_item3 {
  width: 550px;
  position: absolute;
  bottom: 0px;
  right: 0%;
  z-index: 2;
}


/* 
.business_bg::before {
  content: '';
  position: absolute;
  top: -200px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(11, 134, 0, 0.4);
  transform: skewY(0deg);
  z-index: -1;
}

.business_bg::after {
  content: '';
  position: absolute;
  top: 150px;
  bottom: -150px;
  left: 0;
  right: 0;
  background-color: #0B8600;
  transform: skewY(-20deg);
  z-index: -2;
} */

/* .letter {
  width: 980px;
  margin: 0 auto 150px;
  padding: 0 20px;
}

.letter_inner {
  border: 3px dotted #111;
  padding: 50px;
}

.letter_inner h1 {
  background-color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  position: relative;
  bottom: 90px;
  width: 40%;
  margin: 0 auto 50px;
  padding: 0 50px;
  letter-spacing: 5px;
}

.letter_list h2 {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 50px;
  font-weight: normal;
  text-align: center;
}

.letter_list h2 small {
  font-size: 15px;
  color: rgb(189, 120, 230);
  text-align: center;
}

.letter_item p {
  letter-spacing: 3px;
  line-height: 3;
  margin-bottom: 50px;
}

.letter_item p img {
  width: 100%;
  height: auto;
} */