@charset "UTF-8";

body {
  font-size: 15px;
  font-family: "游ゴシック" , serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header_inner {
  position: absolute;
  background-color: #0b8600a6;
  width: 40%;
  z-index: 2;
}

.header_list  {
  text-align: left;
  display: flex;
}

.header_list li {
  font-weight: bold;
  margin: 25px 15px 15px ;
}

.header_list li a {
  color: #fff;
}

.header_list h1 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin: -8px 50px 0 20px;
}

.header_list li a:hover {
  opacity: 0.5;
}

.header_list .color {
  color: #000;
}

.top_inner {
  text-align: center;
}

.top_inner img {
  position: relative;
  width: 100%;
  height: 700px;
}

.top_title {
  position: absolute;
  bottom: 35%;
  right: 10%;
  background-color: #0b8600a6;
  padding: 20px 40px ;
}

.top_title h1 {
  font-size: 100px;
  color: #fff;
  text-align: right;
}

.header_all .top_title h2 {
  font-size: 40px;
  font-family:serif;
  color: #fff;
}


/*問い合わせ*/

.contact {
  width: 100%;
  height: auto;
}

.contact_inner {
  background: #eee;
  padding: 100px;
  margin-bottom: 100px;
}

.contact h3 {
  font-size: 50px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  margin: 0 auto;
  width: 60%;
  position: relative;
  z-index: 2;
}

.contact-ttl {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.contact-table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #fff;
}

.contact-item,
.contact-body {
  padding: 20px;
  border: 1px solid #ccc;
  background: #fff;
}

.contact-item {
  text-align: left;
  width: 30%;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
}

.contact-body {
  width: 50%;
}

.form-text {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-textarea {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.contact-submit {
  width: 250px;
  background: #0b8600;
  border: #bbb 1px solid;
  color: #fff;
  display: block;
  margin: 30px auto 0;
  font-size: 18px;
  letter-spacing: 8px;
  padding: 15px;
  cursor: pointer;
}

.contact-submit:hover {
  opacity: 0.7;
  color: #fff;
}
/*footer*/

footer  {
  display: inline-block;
  position: relative;
  width: 100%;
}

.footer_inner {
  position: relative;
  margin: -200px 0 0 30px;
  z-index: 1;
  top: 230px;
}

.footer_inner img {
  width: 240px;
  position: absolute;
  top: -120px;
}

.footer_inner p {
  width: 200px;
  font-size: 12px;
  color: #fff;
}

.footer_bg {
  width: 100%;
  float: right;
  height: 300px;
  background-color: #1a1a0c;
  z-index: 0;
}

.footer_list ul {
  float: right;
  z-index: 1;
  margin-right: 100px;
}

.footer_list ul li {
  width: 100px;
  padding: 20px 0 0 40px;
  color: #fff;
}

.footer_list ul li a {
  width: 200px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.copyright {
  text-align: center;
  font-size: 5px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  background-color: #000;
}
