@charset "UTF-8";

body {
  overflow-x: hidden;
}

/*News*/
.news {
  position: relative;
}

.news_inner {
  background-color: #0b8600;
  width: 80%;
  text-align: right;
  position: absolute;
  right: 0;
  margin-top: -10px;
}

.news_list {
  text-align: right;
  display: flex;
  color: #fff;
}

.news_list li {
  font-weight: bold;
  margin: 20px 30px 15px ;
  color: #fff;
}

.news_list h1 {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  margin-top: -10px;
}


.header_list li a:hover {
  opacity: 0.5;
}

.header_list .color {
  color: #000;
}

/*about*/
.about {
  display: inline-block;
  width: 100%;
}

.section{
  margin-top: 200px;
}

.about_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.about_left {
  width: 25%;
  border-left: #0b8600 solid 3px;
  padding-left: 20px;
}

.about_left h1 {
  color: #0b8600;
  font-size: 60px;
}

.about_left h2 {
  color: #000;
  font-size: 30px;
  font-family: serif;
  padding-bottom: 30px;
}

 .about_right {
  width: 55%;
  display: flex;
  justify-content: space-between;
 }

 .about_box {
   position: relative;
   margin: 0 5px;
 }

 .about_img {
   background: #0b8600;
   width: 300px;
   height: 350px;
 }

 .about_img h3 {
   color: #fff;
   padding: 0 20px;
 }

 .about_img p {
  color: #fff;
  padding: 0 20px;
  font-size: 25px;
  line-height: 3;
  font-weight: bold;
}

/*service*/
.service {
  width: 100%;
  position: relative;
}

.service_heading {  
  display: inline-block;
  position: absolute;
  width: 30%;
  position: absolute;
  left: 40%;
  top: -8%;
  z-index: 2;
  text-align: center;
}

.service h3 {
  font-size: 25px;
  font-family: serif;
  color: #fff;
  background: #0b8600;
  padding: 40px 30px;
}

.service_inner {
  position: relative;
  width: 100%;
}

.service_bg {
  width: 100%;
  height: 800px; 
  position: relative;
}

.service_bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 112, 63, 0.7);
  top: 0;
  left: 0;
  z-index: 0;
}

.service_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_txt {
  /* background: rgba(255, 255, 255, .7); */
  position: absolute;
  bottom: 50%;
  right: 30%;
  color: #fff;
  z-index: 3;
  padding: 50px ;
  line-height: 1;
  border-left: #fff solid 3px;
  padding-left: 30px;
  overflow: hidden;
}

.service_txt h4 {
  font-size: 60px;
  font-weight: bold;
}

.service_txt small {
  font-size: 30px;
  font-weight: bold;
  display: inline;
}
  
.service_inner .btn a {
  border: #fff 1px solid;
  padding: 20px 60px;
  position: absolute;
  bottom: 30%;
  right: 30%;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  z-index: 2;
}

.service_inner .btn a:hover {
  color: #000;
  background-color: #fff;
}

.feature {
  position: relative;
  width: 100%; 
}

.feature_inner {
  position: relative;
  margin: 0 auto;
}

.feature_txt{
  width: 80%;
  display: inline-block;
  position: absolute;
  top: -60%;
  background: #fff;
  z-index: 3;
  color: #000;
  line-height: 0.5;
  padding-top: 100px;
}

.feature_txt h4 {
  font-size: 40px;
  font-family: serif;
  position: absolute;
  left: 51%;
  top: 200px;
  display: block;
}

.feature_txt p {
  font-size: 20px;
  color: #0b8600;
  font-weight: bold;
  position: absolute;
  top: 250px;
  left: 60%;
  margin-bottom: 30px;
  display: inline-block;
}

.feature_list {
  position: relative;
  top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.feature_img {
  background: #0b8600;
  width: 300px;
  height: 500px;
}

.feature_box img {
  width: 300px;
}

.feature_box p {
 color: #fff;
 line-height: 2;
 width: 300px;
 text-align: left;
 padding: 20px;
 box-sizing: border-box;
}

/*recruit*/
.recruit {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 200px auto 100px;
}

.recruit_bg img {
  position: relative;
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.recruit_bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 110, 52, 0.45);
  top: 0;
  left: 0;
  z-index: 0;
}

.recruit_txt {
  position: absolute;
  top: 10%;
  left: 5%;
  color: #fff;
  z-index: 2;
  padding: 50px ;
  line-height: 1;
  border-left: #fff solid 3px;
  padding-left: 30px;
  overflow: hidden;
}

.recruit_txt h4 {
  font-size: 60px;
  font-weight: bold;
}

.recruit_txt small {
  font-size: 30px;
  font-weight: bold;
  display: inline;
}
  
.recruit_inner .btn a {
  border: #fff 1px solid;
  padding: 20px 60px;
  position: relative;
  top: 40px;
  left: -50%;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  z-index: 2;
}

.recruit_inner  .btn a:hover {
  color: #000;
  background-color: #fff;
}


.recruit_right {
  display: inline-block;
  position: absolute;
  bottom: 15%;
  right: 5%;
  line-height: 2;
}

.recruit_right h4 {
  font-size: 35px;
  color: #fff;
  font-family: serif;
}

.recruit_right p {
  font-size: 20px;
  color: #fff;
  font-family: serif;
}

